# Исключаем папку виртуального окружения (замените "venv" на вашу папку)
venv/
env/

# Исключаем файлы кэша и временные файлы
__pycache__/
*.pyc
*.pyo
*.log

# База данных SQLite (если используете)
db.sqlite3
*.sqlite3

# Конфиденциальные файлы
.env
*.env

# Лог файлы
*.log
logs/

# Статические и медиа файлы (если они генерируются автоматически)
staticfiles/
media/

# Миграции, если хотите их игнорировать
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py  # Исключаем только init файл

# IDE-файлы (если используете PyCharm или VS Code)
.vscode/
.idea/
*.iml
